/* reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {box-sizing: border-box;}
  
/* the basis*/


body {
	font-family: 'Open Sans', sans-serif;
		
}
a {
	text-decoration: none;
	
}
.header-small {
	display: flex;	
	width: 100%;
	height: 43px;
	background: #4cb1ca;	
}

.block-language {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 100%;
	color: #bef2ff;	
}

.block-text {
	position: relative;
	top: 15px;
	left: 185px;
	font-size: 13px;
}
.text-indent {
	left: 205px;
}
.text-white::after {
	content:"\2b9f";
}
.text-white {
	color: white;	
}
.block-text__choice {
	display: none;	
	width: 60px;
	height: 300px;
	background: #4cb1ca;
	position: relative;
	left: 65px;	
}
.block-text__choice a {
	color: white;	
}
.block-text:hover .block-text__choice {
	display: flex;
	flex-direction: column;
	border: 2px solid #bef2ff;
	
}
.language-link {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
	padding-left: 3px;
}
.language-link:hover {
	background: rgb(65, 153, 211);
}
.currency-link {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
	padding-left: 3px;
}
.currency-link:hover {
	background: rgb(65, 153, 211);
}
.link-indent {
	left: 60px;
	width: 40px;
}
.blok-administration {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	font-size: 13px;
}
.menu-administration a {
	color: white;
}
.menu-administration {
	display: flex;	
	flex-direction: row;
	justify-content: space-around;

}
.menu-administration__link {
	padding-left: 15px;
}
.menu-administration__link::after {
	content: '|';
	padding-left: 15px
}
.menu-administration__link_trait_disabled::after {
	content: '';
}
.header-big {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	height: 107px;

}
.logo {
	display: flex;	
	width: 26%;
	height: 100%;
	font-size: 36px;
	font-weight: bold;
	color: #656565;	
	align-items: center;
	justify-content: center;	
	padding-left: 100px;
}
.menu {
	display: flex;	
	width: 30%;
	height: 100%;
	font-size: 14px;
	font-weight: bold;	
	align-items: center;
	justify-content: start;
}
.menu a {
	color: #656565;	
}
.link-padding {
	padding-left: 25px;	
}
.link-border:hover {
	text-decoration: underline;
}
.block-shopping {
	display: flex;
	flex-direction: row;
	width: 44%;
	height: 100%;	
	
}
.form {
	width: 30%;
	height: 100%;	
	position: relative;
	
}
.form__input {
	position: absolute;
	top: 40px;
	width: 173px;
	height: 28px;
}

.form__button {
	position: absolute;
	top: 42px;
	right: 10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: none;
	outline: none;
	background: white;
}
.box-cart {
	display: flex;	
	width: 70%;
	height: 100%;
}
.box-cart__img {
	padding: 38px 0 0 14px;
}
.box-cart__text {
	font-size: 14px;
	font-weight: bold;
	padding: 48px 0 0 14px;
	color:#656565 ;
}
.block-slider {	
width: 100%;
height: 475px;
}
.block-slider__img {
	
}
.section {
	display: flex;
	width: 100%;
	height: 100%;	
}

.box-wrap {
	display: flex;
	flex-direction: column;
	width: 948px;
	height: 1895px;
	margin-top: 29px;
	padding-left: 188px;
	
}
.title {
	width: 100%;
	height: 38px;
	font-weight: bold;
	font-size: 24px;
	color: #656565;	
}
.title_margin-top {
	margin-top: 55px;
}
.box-product {
	display: flex;
	flex-direction: column;
}
.box-line {
	display: flex;
	flex-direction: row;
	width: 100%;	
}
.box-line_margin-top {
	margin-top: 18px;
}
.box-wrap-element {
	width: 237px;
	height: 322px;
	position: relative;
	
}
.box-element {
	display: flex;
	flex-direction: column;
	width: 233px;
	height: 318px;
	border: 2px solid rgba(101, 101, 101, 0.1);
	
}
.box-wrap-element_margin {
	margin-left: 23px;
} 
.box-element__img {
	padding: 6px 0 0 6px;
}
.box-element__sale {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.sale {
	width: 74%;	
	font-size: 14px;
	color: #656565;
	padding: 18px 0 0 12px;
}
.text-green {
	color: #97c14e;
	font-size: 18px;
}
.text-line-through {
	text-decoration: line-through;
}
.icon-basket {
	display: flex;
	padding: 12px 6px 0 0;
	justify-content: flex-end;
	width: 26%;
}
.new-pic {
	position: absolute;	
	right: -0px;
	top: -4px;
}
.sale-pic {
	position: absolute;	
	left: -4px;
	top: -4px;
}