/* reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {box-sizing: border-box;}
  
/* the basis*/


body {
	font-family: 'Open Sans', sans-serif;
		
}
a {
	text-decoration: none;	
}
/* ---------------- z-index start ------------------------------- */
.header-small {
	position: relative;
	z-index: 2;
}
.header-big {
	position: relative;
	z-index: 1;
}
.block-slider{
	position: relative;
	z-index: 1;
} 
/* ---------------- z-index end ------------------------------- */

/* ---------------- color text start ------------------------------- */
.text-white {
	color: white;	
}
.text-green {
	color: #97c14e;
	font-size: 18px;
}
.text-blue {
	color: #73c8dc;
}
/* ---------------- color text end ------------------------------- */
.header {
	width: 100%;
	height: 150px;
	
}
.header-small {
	display: flex;	
	width: 100%;
	height: 43px;	
	background: #4cb1ca;	
}

.block-language {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 100%;
	color: #bef2ff;	
}

.block-text {
	position: relative;
	top: 15px;
	left: 185px;
	font-size: 13px;
}
.text-indent {
	left: 205px;
}
.text-white::after {
	content:"\2b9f";
}

.block-text__choice {
	display: none;	
	width: 60px;	
	background: #4cb1ca;
	position: relative;
	left: 65px;	
}
.block-text__choice a {
	color: white;	
}
.block-text:hover .block-text__choice {
	display: flex;
	flex-direction: column;
	border: 2px solid #bef2ff;
	
}
.language-link {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
	padding-left: 3px;
}
.language-link:hover {
	background: rgb(65, 153, 211);
}
.currency-link {
	display: flex;
	width: 100%;
	height: 30px;
	align-items: center;
	padding-left: 3px;
}
.currency-link:hover {
	background: rgb(65, 153, 211);
}
.link-indent {
	left: 60px;
	width: 40px;
}
.blok-administration {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	font-size: 13px;
}
.menu-administration a {
	color: white;
}
.menu-administration {
	display: flex;	
	flex-direction: row;
		
}
.menu-administration__link {
	padding-left: 15px;
}
.menu-administration__link:hover {
	text-decoration: underline;
}


.menu-administration__link::after {
	content: '|';
	padding-left: 15px
}
.menu-administration__link_trait_disabled::after {
	content: '';
}
.header-big {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 107px;
	
}
.block-menu {
	display: flex;
	width: 56%;
	height: 100%;
}
.logo {
	display: flex;	
	width: 50%;
	height: 100%;
	font-size: 36px;
	font-weight: bold;
	color: #656565;	
	align-items: center;
	justify-content: center;	
	padding-left: 100px;
}
.menu {
	display: flex;	
	width: 50%;
	height: 100%;
	font-size: 14px;
	font-weight: bold;	
	align-items: center;
	justify-content: start;
}
.menu a {
	color: #656565;	
}
.link-padding {
	padding-left: 25px;	
}
.link-border:hover {
	text-decoration: underline;
}
.block-shopping {
	display: flex;
	flex-direction: row;
	width: 44%;
	height: 100%;	
	
}
.form {
	height: 100%;	
	position: relative;
	padding-left: 80px;
	
}
.form__input {
	position: relative;
	top: 40px;
	width: 173px;
	height: 28px;
}

.form__button {
	position: absolute;
	top: 45px;
	right: 7px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background: white;
}
.box-cart {
	display: flex;		
	height: 100%;
	
}
.box-cart__img {
	padding: 38px 0 0 10px;
}
.box-cart__text {
	font-size: 14px;
	font-weight: bold;
	padding: 48px 0 0 14px;
	color:#656565 ;	
}
.box-cart__text:hover {
	text-decoration: underline;	
}
.block-slider {		
	width: 100%;	
}
.section {
	display: flex;
	flex-direction: row;	
	width: 100%;	
	height: 100%;
	padding: 0 191px 0 191px;
}
.title {
	width: 100%;	
	font-weight: bold;
	font-size: 24px;
	color: #656565;	
	padding-bottom: 23px;
	padding-left: 30px;
}
.title_margin-top {
	margin-top: 55px;
}
.box-product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;		
}
.box-wrap {
	display: flex;
	flex-direction: column;		
	margin-top: 29px;	
	flex-grow: 1;
}
.box-wrap-element {
	position: relative;
	width: 237px;
	height: 322px;
	margin: 0 10px 25px 10px;
}
.box-element {
	display: flex;
	flex-direction: column;
	width: 233px;
	height: 318px;
	border: 2px solid rgba(101, 101, 101, 0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.box-element__img {
	padding: 6px 0 0 6px;
}
.box-element__sale {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.sale {
	width: 74%;	
	font-size: 14px;
	color: #656565;
	padding: 18px 0 0 12px;
}

.text-line-through {
	text-decoration: line-through;
}
.icon-basket {
	display: flex;
	padding: 12px 6px 0 0;
	justify-content: flex-end;
	width: 26%;
}
.new-pic {
	position: absolute;	
	right: -0px;
	top: -4px;
}
.sale-pic {
	position: absolute;	
	left: -4px;
	top: -4px;
}
.sidebar {
	display: flex;
	flex-direction: column;	
	width: 452px;
	height: 100%; 
	margin-top: 29px;
	padding: 0 0 0 26px;	
}
.slider-promo {
	width: 235px;
	height: 486px;
	border: 2px solid rgba(101, 101, 101, 0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	border-top: 4px solid #4cb1ca;	
	
}
.slider-promo__img {
	position: relative;
}
.slider-promo__text {
	position: absolute;
	top: 80%;
	left: 20%;
	width: 132px;
	height: 44px;
	text-align: center;
	padding-top: 15px;	
	font-size: 14px;
	background: #4cb1ca;	
}
.slider-promo__text a {
	color: white;
}
.block-promo {
	width: 235px;
	height: 277px;
	border: 2px solid rgba(101, 101, 101, 0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	border-top: 4px solid #4cb1ca;	
	font-size: 14px;	
	text-align: center;
	color: #656565;
}
.block-promo__title {
	width: 100%;
	height: 30%;
	margin-top: 26px;	
	font-size: 24px;	
}
.block-promo__text {
	width: 100%;
	height: 20%;
	font-size: 14px;
}
.block-promo__text_transparent {	
	color: transparent;	
	border-bottom: 2px solid rgba(101, 101, 101, 0.1);
}
.block-promo__form {
	width: 100%;
	height: 50%;
	padding-top: 13px;	
}
.form-input {
	width: 184px;
	height: 28px;
	padding-left: 5px;
}
.form-button {
	width: 112px;
	height: 44px;
	margin-top: 17px;
	color: white;
	background: #7eb123;
	cursor: pointer;
	border: none;
	outline: none;
}
.block-help {
	display: flex;
	flex-direction: row;
	width: 100%;	
	height: 100px;
	font-size: 21px;
	color: white;
	background: #4cb1ca;
}
.block-help__auto {
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.block-help__tel {
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.text-padding-left {
	padding-left: 18px;
}
.footer {
display: flex;
flex-direction: column;
width: 100%;
height: 396px;
color: white;
}
.block-footer {
	display: flex;
	flex-direction: row;
	width: 100%;	
	height: 335px;
	background: #39a0b9;
	padding: 48px 0 0 188px;
}
.block-footer__wrap-network {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 100%;
}
.block-facebook {
	display: flex;
	flex-direction: column;
	width: 234px;
	height: 100%;
	
}
.block-facebook__title {
	width: 100%;	
	height: 14%;
	font-size: 20px;
	padding-left: 3px;
}
.block-facebook__button {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 15%;
	font-size: 13px;	
}
.button-like {
	width: 47px;
	height: 23px;
	border: 1px solid silver;
	border-radius: 5px;
	background: url(../images/like.png);
}
.block-facebook__face {
	height: 44%;
	width: 100%;
}
.table {
	border-top: 2px solid #4cb1ca;
	border-bottom: 2px solid #4cb1ca;
}
.paddign-img1 {
	padding: 10px 0 0 10px;
}
.paddign-img2 {
	padding: 5px 0 10px 10px;
}
.block-facebook__text {
	height: 27%;
	width: 100%;
	padding-top: 10px;
}
.block-twitter {
	display: flex;
	flex-direction: column;
	width: 273px;
	height: 100%;
	padding-left: 53px;	
}
.block-twitter__title {
	height: 15%;
	width: 100%;
	font-size: 20px;	
}
.block-twitter__item {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 37%;
	font-size: 13px;
}
.block-twitter__item_padding {
	padding: 3px 0 0 13px;
}
.block-footer__wrap-information {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 100%;
}
.block-information {
	max-width: 260px;
	height: 100%;
	padding-left: 73px;
	font-size: 13px;
	
}
.block-information__titel {
	width: 100%;
	height: 16%;
	font-size: 20px;
}
.block-information__link {
	width: 100%;
	height: 84%;	
}
.hover-underline:hover {
	text-decoration: underline;	
}
.block-information__link a {
	color: white;
}
.block-information__link_befor::before {
	content: ">";
	padding-right: 12px;
}
.block-contact {
	max-width: 257px;
	height: 100%;
	padding-left: 62px;
}
.block-contact__title {
	width: 100%;
	height: 16%;
	font-size: 20px;
}
.block-contact__adress {
	width: 100%;
	height: 43%;
	font-size: 13px;	
	border-bottom: 2px solid #4cb1ca;
}
.block-contact__socials {
	width: 100%;
	height: 41%;
	padding-top: 18px;
}
.block-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 61px;
	background: #0b4b5a;
	font-size: 13px;
}
.block-item__copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;	
}
.block-item__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}
.effect-zoom:hover {
transform: scale(1.1);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.logo {
		width: 40%;
		padding-left: 0px;
	}
	.block-menu {		
		width: 65%;		
	}
	.menu {			
		width: 60%;		
	}
	.block-shopping {		
		width: 35%;		
	}
	.form {		
		padding-left: 30px;		
	}
	.section {
		padding: 0 100px 0 100px;
	}
	.sidebar {		
		padding: 0 30px 0 26px;	
	}
	.block-help {
		padding-left: 20px;
	}
	.block-footer {
		
		padding: 48px 0 0 20px;
	}
	.block-twitter {		
		padding-left: 33px;	
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.header {
		width: 100%;
		min-height: 266px;
		
	}
	.header-small {		
		flex-direction: column;	
		width: 100%;
		min-height: 86px;		
	}
	.block-language {
		width: 100%;
		display: flex;
		justify-content: space-around;		
	}
	.block-text {
		position: relative;
		top: 15px;
		left: 0px;		
	}
	
	.blok-administration {
		width: 100%;		
	}
	.text-indent {
		left: 0px;
	}
	.header-big {		
		flex-direction: column;
		width: 100%;
		min-height: 180px;		
	}
	.block-menu {		
		width: 100%;
		height: 90px;		
	}
	.logo {			
		width: 40%;			
		padding-left: 30px;
	}
	.menu {		
		width: 60%;			
	}
	.block-shopping {		
		width: 100%;
		height: 90px;			
		justify-content: flex-end;
		padding-right: 20px;
		border-top: 2px solid rgb(214, 208, 208);		
	}
	.section {
		padding: 0 60px 0 60px;
	}
	.sidebar {		
		padding: 0 30px 0 26px;	
	}
	.block-help {
		padding-left: 20px;
	}
	.footer {		
		min-height: 792px;		
		}
	.block-footer {		
		flex-direction: column;		
		min-height: 670px;		
		padding: 48px 0 0 0px;
	}
	.block-footer__wrap-network {
		width: 100%;
		height: 335px;
		justify-content: space-evenly;
	}
	.block-footer__wrap-information {
		width: 100%;
		height: 335px;
		justify-content: space-evenly;
		border: 2px solid #4cb1ca;
		padding-top: 48px;
	}
	.block-information {		
		padding-left: 0px;	
	}
	.block-item {		
		flex-direction: column;		
		min-height: 61px;
		
	}
	.block-item__copyright {		
		width: 100%;
		order: 2;			
	}
	.block-item__menu {
		width: 100%;
		order: 1;		
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
	.header {
		width: 100%;
		min-height: 266px;		
	}
	.header-small {		
		flex-direction: column;	
		width: 100%;
		min-height: 86px;		
	}
	.block-language {
		width: 100%;
		display: flex;
		justify-content: space-around;		
	}
	.block-text {
		position: relative;
		top: 15px;
		left: 0px;		
	}	
	.blok-administration {
		width: 100%;		
	}
	.text-indent {
		left: 0px;
	}
	.header-big {		
		flex-direction: column;
		width: 100%;
		min-height: 180px;		
	}
	.block-menu {
		flex-direction: column;		
		width: 100%;
		height: 90px;		
	}
	.logo {			
		width: 100%;			
		padding-left: 0px;
	}
	.menu {	
		justify-content: center;
		width: 100%;			
	}
	.block-shopping {		
		width: 100%;
		height: 90px;			
		justify-content: center;		
		border-top: 2px solid rgb(214, 208, 208);		
	}
	.form {		
		padding-left: 0px;		
	}
	.section {
		padding: 0 20px 0 20px;
	}
	.sidebar {		
		padding: 0 30px 0 26px;
		display: none;	
	}
	.block-help {		
		flex-direction: column;			
		height: 200px;
		padding-left: 30px;		
	}
	.block-help__auto {		
		width: 100%;
		height: 100px;
		justify-content: start;		
	}
	.block-help__tel {		
		width: 100%;
		height: 100px;
		justify-content: start;			
	}
	.footer {		
		min-height: 792px;		
		}
	.block-footer {		
		flex-direction: column;		
		min-height: 670px;		
		padding: 48px 0 0 0px;
	}
	.block-footer__wrap-network {
		width: 100%;
		height: 335px;
		justify-content: space-evenly;
	}
	.block-footer__wrap-information {
		width: 100%;
		height: 335px;
		justify-content: space-evenly;
		border: 2px solid #4cb1ca;
		padding-top: 48px;
	}
	.block-information {		
		padding-left: 0px;	
	}
	.block-item {		
		flex-direction: column;		
		min-height: 61px;		
	}
	.block-item__copyright {		
		width: 100%;
		order: 2;			
	}
	.block-item__menu {
		width: 100%;
		order: 1;		
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px){
	.header {
		min-width: 320px;
		max-width: 479px;
		height: 960px;	
	}
	.header-small {
		flex-direction: column;	
		width: 100%;		
		height: 310px;
		flex-wrap: wrap;				
	}	
	.block-language {
		flex-direction: row;		
		height: 80px;				
	}	
	 .block-text {		
		top: 15px;
		left: 20px;
		font-size: 22px;
	}
	.text-indent {
		left: 110px;
	}	
	.block-text__choice {
		display: none;	
		width: 90px;	
		background: #4cb1ca;
		position: relative;
		left: 0px;	
	}	
	.language-link { 
		display: flex;
		width: 100%;
		height: 30px;
		align-items: center;
		padding-left: 3px;
	}	
	.link-indent {
		left: 40px;
		width: 60px;
	} 
	.blok-administration {
		display: flex;		
		width: 100%;
		height: 230px;
		justify-content: center;
		align-items: flex-start;		
	}	
	.menu-administration {
		display: flex;	
		flex-direction: column;
		font-size: 26px;
	}
	.menu-administration__link {
		padding: 10px 0 0 20px;	
	}	
	.menu-administration__link::after {
		content: '';
		padding-left: 0px
	}	
	.header-big {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 650px;		
	}
	.block-menu {
		display: flex;
		flex-direction: column;		
		width: 100%;
		height: 450px;
	}
	.logo {
		display: flex;	
		width: 100%;
		height: 100%;
		font-size: 80px;		
		align-items: center;
		text-align: center;	
		padding-left: 0px;
	}
	.menu {
		flex-direction: column;
		width: 100%;
		height: 300px;
		font-size: 40px;
		text-align: center;			
		background: #4cb1ca;	
	}	
	li {
		display: flex;
		flex-direction: column;
		padding: 20px 0 0 0px;
	}	
	.link-border {
		width: 100%;
		height: 50px;
	}
	.link-padding {
		padding-left: 0px;	
	}
	.link-border:hover {
		text-decoration: underline;
	}
	.block-shopping {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 200px;		
	}
	.form {
		display: flex;
		margin: 0 auto;
		width: 250px;
		height: 100px;	
		position: relative;		
		padding-left: 0px;
	}
	.form__input {
		position: relative;
		top: 40px;
		width: 250px;
		height: 40px;
	}	
	.form__button {	
		position: absolute;
		width: 38px;
		height: 38px;	
		top: 41px;
		right: 3px;		
	}
	.box-cart {
		display: flex;		
		height: 100px;
		justify-content: center;
	}
	.box-cart__img {
		width: 50px;
		padding: 10px 0 0 10px;
	}
	.box-cart__text {
		font-size: 26px;
		font-weight: bold;
		padding: 15px 0 0 14px;
		color:#656565 ;		
	}
	.block-slider {		
		width: 100%;
		display: none;				
	}
	.section {
		padding: 0 20px 0 20px;
	}	
	.sidebar {
		display: none;						
	}
	.title {		
		font-size: 34px;
		padding-left: 20px;
	}		 
	.block-help {		
		flex-direction: column;
		width: 100%;	
		height: 250px;
		font-size: 21px;
		padding-left: 20px;		
	}
	.block-help__auto {		
		width: 100%;		
	}
	.block-help__tel {		
		width: 100%;				
	}	

	.footer {		
		flex-direction: column;
		width: 100%;
		height: 1470px;		
		}
		.block-footer {			
			flex-direction: column;			
			height: 1290px;		
			padding: 20px 0 0 0px;		
		}
		.block-footer__wrap-network {			
			flex-direction: column;				
			align-items: center;	
			width: 100%;			
			height: 500px;			
		}
		.block-facebook {
			display: flex;
			flex-direction: column;
			min-width: 234px;
			height: 100%;			
		}
		.block-facebook__title {			
			font-size: 25px;			
		}
		.block-facebook__button {			
			font-size: 18px;		
		}
		
		.block-facebook__text {			
			font-size: 18px;		
			padding-top: 35px;		
		}
		.block-twitter {			
			align-items: center;			
			padding-left: 0px;		
		}
		.block-twitter__title {			
			font-size: 25px;
			margin-top: 30px;		
		}
		.block-twitter__item {			
			font-size: 18px;		
		}		
		.block-footer__wrap-information {			
			flex-direction: column;					
			width: 100%;					
			height: 770px;	

		}
		.block-information {
			width: 100%;		
			height: 400px;		
			padding-left: 0px;
			font-size: 18px;
			margin: 0 auto;			
		}
		.block-information__titel {			
			font-size: 25px;
			margin-top: 30px;	
		}		
		.block-contact {
			display: flex;
			flex-direction: column;
			width: 100%;			
			height: 390px;			
			padding-left: 0px;
			margin: 0 auto;
		}
		.block-contact__title {			
			font-size: 25px;		
		}
		.block-contact__adress {		
			font-size: 18px;			
		}		
		.block-contact__socials {			
			padding-top: 50px;				
		}
		.block-item {			
			flex-direction: column;					
			height: 300px;			
			font-size: 18px;
		}
		.block-item__copyright {			
			width: 100%;
			height: 100px;				
			order: 2;
			text-align: center;			
		}
		.block-item__menu {			
			width: 100%;
			height: 250px;				
			order: 1;					
		}			
}
